
.zoom img:hover {
  scale: 1.2;
}

/* 拡大しながら自動で画像を変更 */
.gallery-container {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}
.gallery-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  translate: -50% -50%;
  opacity: 0;
  scale: 1;
  transition: opacity 1s, scale 4s;
}
.gallery-item.active {
  opacity: 1;
  scale: 1.2;
}

/* 基本スタイル */
body {
  padding: 1rem;
}
img {
  display: block;
}
h2 {
  margin-top: 3rem;
}